@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import '../mixin.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
*::-webkit-scrollbar{
    display: none;
}
.App{
    @include Box-Properties(100vh,100%, hidden scroll);
    @include Flex-Box(none,center,flex-start,column);
    @include Position-Properties(relative,auto,auto,auto,auto,1);
    background: url('../../assets/images/God-of-War-PS4.jpg');
    background-position: center;
    background-size: cover;
}
